body {
    margin: 0;
    font-family: 'Alegreya', serif;
}

header {
    display: flex;
    align-items: center;
    border: 1px solid #b8b8b8;
    min-height: 73px;
    box-sizing: border-box;
}

div.logo {
    margin: 0 23px 1px 29px;
    font-weight: 500;
    font-size: 45px;
}

nav.mainnav {
    flex-grow: 1;
    text-transform: uppercase;
    display: flex;
    font-weight: 500;
    font-size: 20px;
    margin-top: 9px;
}

a.mainlink,
a.mainlink:visited,
a.mainlink:hover {
    color: #1a1a1a;
    text-decoration: none;
    display: block;
    padding: 10px 22px;
    white-space: nowrap;
}

a.mainlink:hover {
    text-decoration: underline;
}

a.active,
a.active:visited,
a.active:hover {
    display: block;
    color: #757575;
}

nav.topicons {
    display: flex;
    margin: 13px 13px 0 0;
}

button.topicon,
a.topicon:hover {
    display: block;
    padding: 12px 11px;
    border: 0;
    background: none;
}

button.topicon:hover {
    opacity: .6;
}

.presentation {
    font-family: 'Alegreya SC', serif;
    min-height: 622px;
    background-image: url('pics/hugs.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.presentation p {
    font-weight: 500;
    font-size: 96px;
    margin: 0;
    position: absolute;
    right: 24px;
    bottom: 36px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.presentation h1 {
    font-weight: 400;
    font-size: 29px;
    margin: 0;
    position: absolute;
    left: 17px;
    top: 33px;
    width: 540px;
    line-height: 140%;
    letter-spacing: .4px;
}

footer {
    border: 1px solid #b8b8b8;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 66px 0 92px;
}

.footercol1 {
    width: 170px;
}

.footercol2 {
    width: 190px;
}

.footercol3 {
    width: 210px;
}

footer h3 {
    font-weight: 500;
    font-size: 32px;
    color: #828282;
    margin: 0;
    margin-bottom: 4px;
}

footer a,
footer a:visited,
footer a:hover {
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
    display: block;
    color: #828282;
}

footer a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 930px) {
    .presentation h1 {
        width: 50%;
    }
}

@media screen and (max-width: 840px) {
    .presentation p {
        background-color: rgba(242, 240, 234, .5);
    }
}

@media screen and (max-width: 700px) {
    .footercol1, .footercol2, .footercol3 {
        width: auto;
    }

    div.logo {
        font-size: 30px;
    }

    nav.mainnav {
        font-size: 16px;
    }

    a.mainlink, a.mainlink:visited, a.mainlink:hover {
        padding: 10px 8px;
    }

    footer {
        padding: 28px 0 30px;
    }

    footer h3 {
        font-size: 20px;
    }
    
    footer a,
    footer a:visited,
    footer a:hover {
        font-size: 16px;
    }
}